<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzkj.starter.mapper.user.UserMapper">
<!--    <select id="findUserList">-->

<!--    </select>-->

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(user_id, name, email) values (#{userId}, #{name}, #{email})
    </insert>
</mapper>